<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rita">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Rita Professional Website">
    <title>Rita</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <h1 id="webname">Rita Xiao</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main"> 
        <h2>Curriculum Vitae </h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Emerging Leaders</td> 
                <td>A program that provides students with the opportunity to develop their leadership skills.</td>
            </tr>
            <tr>
                <td>CMU</td> <br>
                <td>Bachelor of Science, Information Systems</td>
            </tr>
            <tr>
                <td>THS</td> <br>
                <td>High School Degree</td>
            </tr>
            <tr>
                <td>Institute 2</td> <br>
                <td>Descriptions listed here...</td>
            </tr>
        </table>
        <p>
            <a target="_blank" href="../static/resume.pdf">My resume(pdf)</a>
        </p>
        
    </div>
    <footer>&copy 2025 designed and coded by Rita</footer>
</body>
</html>






