<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rita">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Rita Professional Website">
    <title>Rita</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <h1 id="webname">Rita Xiao</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main"> 
        <h2>Things I love to do for fun</h2>
        <button id = "buttonFun" onclick = "showList()">Click to see...</button>
        <ul id = "listFun">
            <li>Try food and places with friends</li>
            <li>Playing games</li>
            <li>Reading novels/Watching Anime</li>
            <li>Making themes playlists for music</li>
            <li>Baking/Cooking</li>
        </ul>
    </div>
    <footer id="copyYear">&copy designed and coded by Rita</footer>


    
</body>
</html>